<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orascan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row pt-5 pb-5">
        <div class="col-md-3">
            <img src="{% static 'orascan/IITK.png'%}" class="" style="max-height: 150px;">
        </div>
        <div class="col-md-6 text-center">
            <h3>SDE Course Project<br/> CSL7090 Software and Data Engineering<br/>[Pallav Prince]</h3><br/>
            <h3>Project Title: Development of Software for detection of oral cancer by image capturing on real-time</h3><br/><br/>
        </div>
        <div class="col-md-3 text-right">
            <img src="{% static 'orascan/IITJ.jpg'%}" class="" style="max-height: 150px;">
        </div>
    </div>
    <h2>ORA SCAN</h2>
    {% if scanid|default_if_none:"" != '' %}
    <br/>
        <h1>Scan ID : {{scanid}}</h1>
    <br/>

    <div class="card mt-3 mb-5">
        <div class="card-header">
            <b>Input Images</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="/media/{{InputImage}}" style="max-width:300px;">
                </div>
                <div class="col-md-6">
                    <img src="/media/{{MarkImage}}" style="max-width:300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3 mb-5">
        <div class="card-header">
            <b>Pre Processing</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="/media/{{gray_img_red_plane}}" style="max-width:300px;">
                </div>
                <div class="col-md-4">
                    <img src="/media/{{img_dilation}}" style="max-width:300px;">
                </div>
                <div class="col-md-4">
                    <img src="/media/{{fill_image}}" style="max-width:300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3 mb-5">
        <div class="card-header">
            <b>Region of Interest</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="/media/{{Largest_Region}}" style="max-width:300px;">
                </div>
                <div class="col-md-6">
                    <img src="/media/{{ROI}}" style="max-width:300px;">
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3 mb-5">
        <div class="card-header">
            <b>Color Feature</b>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <img src="/media/{{color_feature}}" style="max-width:300px;">
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <p style="margin-top:150px; text-align: right">
        This course project is a part of my parental organization sponsored project (IIT Kanpur)
    </p>

</div>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});


</script>

</body>
</html>